
.header {
	a.logo {
		width: 205px;
	}
	&-mainBtn {
		display: block;
		.btn {
			font-size: 15px;
			padding: 5px 15px;
		}
	}
	.mob-menu-btn {
		display: none;
	}
	.mob-menu.show {
		display: none;
	}
}


.start-block {
	height: 600px;
	.inner {
		font-size: 42px;
		.btn {
			margin-top: 20px;
		}
	}
}


.about {
	padding: 20px 100px;

	&:before, &:after {
		background-size: contain;
	}
	&:after {
		display: block;
	}
}


.advantages {
	flex-direction: row;
	.advant {
		&-image {
			width: 32px;
			height: 32px;
			margin-bottom: 10px;
		}
	}
}