
.nav {
  justify-content: flex-end;

	li {
		position: relative;

		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	}

	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
          color: $link-color;
        }
	}

}



.about {
	padding: 20px 150px;
	&:before, &:after {
		opacity: 1;
	}
}
