
.nav {
  justify-content: flex-end;

	li {
		display: block;
		position: relative;

		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	}

	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
          color: $link-color;
        }
	}

}

.header {

}

.start-block {
	height: 600px;
	.inner {
		font-size: 42px;
	}
}


.about {
	padding: 20px 150px;
	&:before, &:after {
		opacity: 1;
	}
}
