/*
  Landing
*/

.start-block {
  position: relative;
  height: 400px;
  background-color: #e1eae9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
display: flex;
  align-items: center;
  justify-content: center;
  .inner {
    color: $white;
    text-shadow: 1px 2px 5px rgba($black,.2);
    font-size: 25px;
    font-weight: 500;
    max-width: 700px;
    text-align: center;
    line-height: 1.2em;
    .btn {
      margin-top: 10px;
    }
  }
}

.advantages {
  display: flex;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  .advant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    &-image {
      width: 64px;
      height: 64px;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 15px;
    }
  }
}

.about {
  position: relative;
  background-color: $yellow-light;
  padding: 20px 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  &>p, &>h2 {
    position: relative;
    z-index: 2;
  }
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    background: url("../images/kyploma.png") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  &:after {
    display: none;
    right: 0;
    left: inherit;
    transform: scaleX(-1);
    -ms-filter: "FlipH";
  }
}

.product-cats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  &-item{

    width: 16.66%;
    max-width: 300px;
    min-width: 200px;
    padding: 20px;
    position: relative;
    &-inner{
      display: block;
      text-decoration: none;
      color: $black;
      text-align: center;
      &>img{
        transition: opacity .12s ease-out;
        border-radius: 50%;
      }
      &:hover {
          color: $link-hover;
        &>img{
          opacity: .88;
        }
      }
    }
    &-inner:visited {
      color: $black;
      &:hover {
        color: $link-hover;
      }
    }
  }
}

.prod-land-img{
  margin-bottom: 30px;
  img{
    height: auto;
  }
}

.form-modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-out;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, .7);
  }

  &-inner{
    transition: transform .3s ease-out;
    transform: translateY(50px);
    padding: 20px 40px;
    background-color: $white;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgba($black, .3);
  }
  .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    fill: $text-color;
    &:hover{
      fill: $red;
    }
  }
  &.show {
    z-index: 1005;
    opacity: 1;

    .form-modal-inner{
      transform: translateY(0);
    }
  }
}

.wpcf7{
  &-form{
    text-align: center;

    br {
      display: none;
    }
    .form-row{
      text-align: left;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin: 0 -15px;
    }
    .form-group{
      width: 100%;
      max-width: 300px;
      padding: 0 15px;
      margin: 0 auto;
    }
    .form-submit{
      padding: 0 15px 0;
      position: relative;
      margin: 0 auto;

      .btn{
        padding: 5px 30px;
      }
      .ajax-loader {
        position: absolute;
        right: 10px;
        top: 12px;
      }
    }
    .form-desc {
      font-size: 10px;
      margin-top: 10px;
    }

    //Внутри модалки
    .form-modal & {
      max-width: 400px;
      .form-row{
        flex-direction: column;
        align-items: center;
      }
      .form-submit{
        padding-top: 0;
      }
      .form-group, .btn{
        width: 100%;
        justify-content: center;
      }
    }
    // Validation
    .wpcf7-not-valid{
      border-bottom: 2px solid $red;
      padding-top: 2px;

    }
    span.wpcf7-not-valid-tip{
      color: $red;
      font-size: 14px;
    }
    div.wpcf7-response-output {
      margin: 5px 0 15px;
      border-color: $green2;
      color: $green2;
      &.wpcf7-validation-errors {
        border-color: $red;
        color: $red;
      }
    }
  }
}



.maps {
  //margin-top: 30px;
}